.rs-block{
  width: 350px;
  h4 {
    width: 100%;
    text-align: center;
  }
  .console-button {
    width: 100%;
    border-radius: 4px;
  }
  .rs-title{
    margin-top: 10px;
    font-size: 12px;
  }
  .rs-context{
    border-radius: 4px;
  }
}